.chart-container {
  display: flex;
  flex-wrap: wrap;
}

.week > .chart-graph {
  grid-template-columns: repeat(7, 1fr);
}

.week > .chart-unit {
  grid-template-columns: repeat(7, 1fr);
}

.month > .chart-graph {
  grid-template-columns: repeat(4, 1fr);
}

.month > .chart-unit {
  grid-template-columns: repeat(4, 1fr);
}

.year > .chart-graph,
.chart-unit {
  grid-template-columns: repeat(12, 1fr);
}

.chart-graph {
  width: 100%;
  height: 120px;
  display: grid;
  place-items: center;
}

.chart-bar {
  width: 80%;
  height: 120px;
  background: var(--gradient);
  display: flex;
  align-items: flex-end;
  border-radius: 16px;
  border: 1px solid #ffffff30;
}

.chart-percentage {
  width: 100%;
  background-color: var(--accent);
  opacity: 0.8;
  border-radius: 16px;
}

.chart-bar:nth-child(1) .chart-percentage {
  height: 60%;
}

.chart-bar:nth-child(2) .chart-percentage {
  height: 40%;
}

.chart-bar:nth-child(3) .chart-percentage {
  height: 75%;
}

.chart-bar:nth-child(4) .chart-percentage {
  height: 60%;
}

.chart-bar:nth-child(5) .chart-percentage {
  height: 90%;
}

.chart-bar:nth-child(6) .chart-percentage {
  height: 35%;
}

.chart-bar:nth-child(7) .chart-percentage {
  height: 45%;
}

.chart-bar:nth-child(8) .chart-percentage {
  height: 75%;
}

.chart-bar:nth-child(9) .chart-percentage {
  height: 100%;
}

.chart-bar:nth-child(10) .chart-percentage {
  height: 55%;
}

.chart-bar:nth-child(11) .chart-percentage {
  height: 25%;
}

.chart-bar:nth-child(12) .chart-percentage {
  height: 35%;
}

.chart-unit {
  width: 100%;
  display: grid;
  place-items: center;
}

.chart-unit p {
  font-size: xx-small;
}
