.dashboard-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 8px;
}

.card:nth-child(3n) {
  grid-column: span 2;
}

.card {
  background-color: var(--foreground);
  border-radius: 16px;
  padding: 16px;
  min-height: 240px;
  box-shadow: var(--dropshadow);
}
